@model IEnumerable<dynamic>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Notas</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .chart-container {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .chart-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        canvas {
            width: 100%;
            max-width: 600px;
        }

        .btn {
            display: block;
            margin: 1rem auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="m-4 text-center">Gráfico</h1>
        <p class="text-center mb-4" style="font-size: 1rem;">O gráfico de pizza representa a frequência das avaliações de 1 a 5 estrelas, onde cada fatia do gráfico indica a porcentagem de estrelas recebidas. O gráfico fornece uma visão clara da satisfação geral, com um destaque para as avaliações mais altas.</p>

        <p class="text-center">
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </p>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2 class="m-1 text-center">Gráfico de Barras</h2>
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2 class="m-3 text-center">Gráfico de Pizza</h2>
                <div class="chart-item">
                    <canvas id="mySecondChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, jQuery, Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const notas = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

        const labels = [1, 2, 3, 4, 5];
        const data = labels.map(label => {
            const nota = notas.find(n => n.Nota === label);
            return nota ? nota.Comentario : 0;
        });

        const colors = [
            'rgba(108, 229, 232, 0.8)',
            'rgba(65, 184, 213, 0.8)',
            'rgba(45, 139, 186, 0.8)',
            'rgba(47, 95, 152, 0.8)',
            'rgba(49, 53, 110, 0.8)'
        ];

        const borderColors = [
            'rgba(108, 229, 232, 1.0)',
            'rgba(65, 184, 213, 1.0)',
            'rgba(45, 139, 186, 1.0)',
            'rgba(47, 95, 152, 1.0)',
            'rgba(49, 53, 110, 1.0)'
        ];

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Notas',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>

    <script>
        const ctx2 = document.getElementById('mySecondChart').getContext('2d');

        const mySecondChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Notas',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
</body>
</html>
