@model Somativa_2.Models.PacientesModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center my-4 py-4">Você Deseja Ser Um Paciente</h1>

<div class="container">
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row d-flex flex-wrap justify-content-center">
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row d-flex flex-wrap justify-content-center">
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="RG" class="control-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="Data_de_nascimento" class="control-label"></label>
                <input asp-for="Data_de_nascimento" class="form-control" />
                <span asp-validation-for="Data_de_nascimento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row d-flex flex-wrap justify-content-center">
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row d-flex flex-wrap justify-content-center">
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="PlanodeSaudeId" class="control-label"></label>
                <select asp-for="PlanodeSaudeId" class="form-control" asp-items="ViewBag.PlanodeSaude"></select>
            </div>
            <div class="form-group col-12 col-md-6 mb-3 px-2">
                <label asp-for="img" class="control-label"></label>
                <input asp-for="img" type="file" class="form-control" name="imgUp" />
                <span asp-validation-for="img" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex justify-content-center my-4">
            <input type="submit" value="Salvar" class="btn btn-primary col-5 col-md-3 m-2" />
            <a asp-action="Index" class="btn btn-secondary col-5 col-md-3 m-2">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
